# ملفات النظام والبيانات الحساسة
.env
.env.local
.env.*.local

# Next.js
.next/
out/

# قاعدة البيانات المحلية
*.db
*.db-journal
prisma/dev.db

# Node
node_modules/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
